# Console Menu
console-menu>=0.8.0

#Google Sheets API
gspread>=2.38

#Pandas Data Frames
pandas>=2.2.3

# Rich Text and Formatting Library for Console
rich>=14.0.0

# Progress Bar Indicator
tqdm>=4.67.1

# Titlecase Conversion (better than str.title())
titlecase>=2.4.1

# Gspread Dataframe
gspread-dataframe>=4.0.0

# Python Imaging Library (for cover generation)
pillow>=11.3.0